# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Mac OS X Files
.DS_Store

# VIM swap files
*.swp

# Ignore datafiles
data/

# Ignore knitr cache
ml_project_files/
ml_project_cache/

# Ignore answer files
.txt
